*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  overflow: hidden;
  position: relative;
}

.image-placeholder {
  position: absolute;
  z-index: 10;
  filter: blur(10px);
  opacity: 1;
  transition: opacity 100ms;
  transition-delay: 100ms;
}

.image {
  position: absolute;
  z-index: 20;
  opacity: 0;
  transition: opacity 100ms;
}

.image-progress {
  position: absolute;
  z-index: 30;
  inset: 0;
  background-color: rgb(255 255 255 / 0.2);
}

/* modifiers */

.image-container--loaded .image-placeholder {
  opacity: 0;
}

.image-container--loaded .image {
  opacity: 1;
}

.image-container--loaded .image-progress {
  display: none;
}
